
.experience {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  min-height: 100vh;
  box-sizing: border-box;

  .head-box {
    color: black;

    &.expand {
      max-width: 820px;
      @include below($tablet) {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.compact {
      max-width: 280px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      @include below($tablet) {
        font-size: 15px;
      }
    }

    p.lead {
      margin-bottom: 10px;
      @include below($tablet) {
        font-size: 15px;
      }
    }

    @include below($tablet) {
      .head-subtitle {
        font-size: 20px;
      }
    }
  }
}