.intro {
  position: relative;
  z-index: 5;

  &::after {
    display: block;
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-image: transparent;
    background-image: linear-gradient(0deg, black, transparent);

    user-select: none;
    pointer-events: none;
    z-index: 1;
  
    @include below($tablet) {
      display: none;
    }
  }

  .head-box-intro {
    @include below($tablet) {
      width: auto;
      margin-left: 5px;
      margin-right: 5px;
      text-align: left;
    }
  }

  .panel {
    @include below($tablet) {
      min-height: auto;
    }
  }
}