.intro {
  position: relative;
  z-index: 5;

  &::after {
    display: block;
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-image: transparent;
    background-image: linear-gradient(0deg, black, transparent);

    user-select: none;
    pointer-events: none;
    z-index: 1;
  
    @include below($tablet) {
      display: none;
    }
  }

  .head-box-intro {
    @include below($tablet) {
      width: auto;
      margin-left: 5px;
      margin-right: 5px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .panel {
    @include below($tablet) {
      min-height: auto;
    }
  }

  &-media {
    position: relative;
    @include above($tablet + 1) {
      display: none;
    }
    img {
      @include img-fluid();
    }
  }

  &-swiper {

    @include above($tablet + 1) {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      border: 1px solid white;
      background: transparent;
      opacity: 1;
      &-active {
        background-color: white;
      }
    }

    .intro-media {
      margin-bottom: 30px;
    }
  }

  &-box {
    @include below($tablet) {
      display: none;
    }
  }
  &-box.active {
    @include below($tablet) {
      display: block;
    }
  }
}