
.product {
  position: relative;
  background-color: black;

  &-slogan {
    padding-top: 70px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    span {
      font-size: 35px;
      font-weight: bold;
    }

    @include below($tablet) {
      font-size: 15px;
      span {
        font-size: 15px;
      }
    }
  }
  &-media {
    position: relative;
    margin-bottom: 16px;

    @include below($tablet) {
      margin-left: -20px;
      margin-right: -20px;
    }

    img {
      @include img-fluid();
    }

    &:before {
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      background: transparent;
      background: linear-gradient(0deg, transparent, black);

      @include below($tablet) {
        height: 60px;
      }
    }

    &:after {
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;
      background: transparent;
      background: linear-gradient(180deg, transparent, black);

      @include below($tablet) {
        height: 60px;
      }
    }
  }

  &-actions {
    text-align: center;
  }
  
}