
.showcase {
  position: relative;
  background: black;
  padding-top: 110px;
  padding-bottom: 90px;

  @include below($tablet) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &-title {
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Town 10 Display', 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    @include below($tablet) {
      font-size: 25px;
      max-width: 270px;
      margin-bottom: 30px;
    }
  }

  &-show-gallery {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    cursor: pointer;
    
    @include below($tablet) {
      font-size: 14px;
    }

    &:hover {
      font-weight: 700;
    }
    
    span {
      position: relative;
      display: inline-block;
      margin: 0 auto;
    }
  }
}