.solution {
  position: relative;

  @include below($tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-image: transparent;
    background-image: linear-gradient(-180deg, black, transparent);

    user-select: none;
    pointer-events: none;
    z-index: 1;
  
    @include below($tablet) {
      display: none;
    }
  }

  .head-description {
    @include below($tablet) {
      text-align: left;
    }
  }

  .head-title {
    @include below($tablet) {
      position: relative;
      margin-bottom: 35px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 2px;
        background-color: white;
      }
    }
  }

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .4;
    background-image: url('/images/solution-background.jpg');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    pointer-events: none;
    user-select: none;
    z-index: -1;
    @include below($tablet) {
      background-position: center center;
      background-attachment: scroll;
    }
  }

  .side-decorate {
    position: fixed;
    top: 40vh;
    transform: translate(0, -50%);
    z-index: 1;

    @include below($desktop) {
      width: 60px;
    }

    @include below($tablet) {
      display: none;
    }

    img {
      @include img-fluid();
    }
  }

  &-decorate {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 284px;
    user-select: none;
    pointer-events: none;
    z-index: 0;

    @include below($hd) {
      top: auto;
      width: 200px;
    }

    @include below($desktop) {
      width: 140px;
    }

    @include below($laptop) {
      width: 100px;
    }

    @include below($tablet) {
      display: none;
    }

    img {
      @include img-fluid();
    }
  }

  &-media {
    display: none;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    @include below($tablet) {
      display: block;
    }
    img {
      @include img-fluid();
      margin-bottom: 16px;
    }
  }

  &-box {
    position: relative;
    top: 300px;
    z-index: 2;
    @include below($tablet) {
      top: 0;
    }
  }

  &-product {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    z-index: 1;

    @include below($hd) {
      max-width: 320px;
      right: 240px;
    }
    @include below($desktop) {
      right: 140px;
    }

    @include below($laptop) {
      right: 100px;
    }

    @include below($tablet) {
      display: none;
    }

    img {
      @include img-fluid();
    }
  }

  .panel {
    @include below($tablet) {
      min-height: auto;
    }
  }

  .head-box {
    max-width: 430px;
  }
}