
.tyc {
  height: 100vh;

  &-container {
    position: relative;
    top: 220px;
    @include center(960px + 40px);
    padding: 0 20px;
    box-sizing: border-box;

    @include below($tablet) {
      top: 60px;
    }

  }

  h2 {
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Town 10 Display', 'Raleway', sans-serif;
    font-size: 33px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 2px 40px white;

    @include below($tablet) {
      font-size: 25px;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }
  }

  p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 15px;
    letter-spacing: 2px;
    @include below($tablet) {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  &-actions {
    margin-top: 100px;
    text-align: center;
    @include below($tablet) {
      margin-top: 28px;
    }
  }
}