
.welcome {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 104px);

  display: flex;
  // align-items: center;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  // z-index: 5;

  @include below($tablet) {
    background-image: url('/images/sequence/000.png');
    background-position: center 10%;
    background-size: auto 85%;
    background-repeat: no-repeat;

    align-items: flex-end;
    min-height: 100vh;
  }

  @include below($sm) {
    background-size: auto 80%;
  }

  .container {
    z-index: 1;
    @include below($tablet) {
      margin-bottom: 60px;
    }
  }

  &-logo {
    position: relative;
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
    display: none;

    @include below($tablet) {
      max-width: 180px;
      margin-bottom: 420px;
    }
    
    @include below($sm) {
      margin-bottom: 240px;
    }

    img {
      @include img-fluid();
    }
  }
  &-caption {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 60px;
    @include below($tablet) {
      font-size: 15px;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
  }
  &-icon {
    @include absolute($bottom: 25px, $left: 0, $right: 0);
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 20px;
    // cursor: pointer;
    box-sizing: border-box;
    z-index: 1;

    @include below($tablet) {
      width: 10px;
      bottom: 5px;
    }

    img {
      @include img-fluid();
      margin-bottom: 0;
    }
  }

  .popup-box {
    min-height: 100%;
  }
}