
.header {
  position: fixed;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 10;

  @include below($tablet) {
    display: none;
  }

  &-container {
    display: flex;
    padding: 10px 20px 0 ;
    @include center($header-width);
    box-sizing: border-box;
  }

  &-brand {
    position: relative;
    flex: none;
    margin-right: 85px;

    @include below($laptop) {
      margin-right: 40px;
    }

    img {
      @include img-fluid();
      margin-bottom: 0;
    }
  }

  &-links {
    line-height: 1;
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include below($tablet)  {
      display: block;
      margin-bottom: 38px;
    }

    li {
      display: block;
      padding: 0 10px;
      font-size: 15px;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box;
      cursor: pointer;

      @include below($laptop)  {
        font-size: 13px;
      }
      @include below($tablet)  {
        letter-spacing: 2px;
        margin-bottom: 30px;
      }

      &:last-child {
        white-space: nowrap;
      }

      span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        &:after {
          display: none;
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          right: 0;
          height: 1px;
          background: white;
        }
        &:hover::after {
          display: block;
        }
      }
      span.en-EN.en,
      span.es-ES.es {
        font-weight: bold;
        &:after {
          display: block;
        }
      }
    }
  }
}

.nav-bar {
  @include fixed($top: 20px, $left: 15px);
  width: 30px;
  cursor: pointer;
  z-index: 10;

  @include above($tablet) {
    display: none;
  }

  &:hover span:nth-child(2) {
    width: 100%;
  }

  span {
    display: block;
    height: 2px;
    background: white;
    margin-bottom: 7px;
    
    &:nth-child(2) {
      width: 100%;
      transition: width 400ms ease-in-out;
    }
    &:nth-child(2) {
      width: 80%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}