/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Light.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Medium.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
    url('/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Town10Display */
@font-face {
  font-family: 'Town 10 Display';
  src: url('/fonts/Town10Display/Town10Display-Medium.woff2') format('woff2'),
    url('/fonts/Town10Display/Town10Display-Medium.woff') format('woff'),
    url('/fonts/Town10Display/Town10Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Town 10 Display';
  src: url('/fonts/Town10Display/Town10Display-Light.woff2') format('woff2'),
    url('/fonts/Town10Display/Town10Display-Light.woff') format('woff'),
    url('/fonts/Town10Display/Town10Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Town 10 Display';
  src: url('/fonts/Town10Display/Town10Display-Bold.woff2') format('woff2'),
    url('/fonts/Town10Display/Town10Display-Bold.woff') format('woff'),
    url('/fonts/Town10Display/Town10Display-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Town 10 Display';
  src: url('/fonts/Town10Display/Town10Display-Regular.woff2') format('woff2'),
    url('/fonts/Town10Display/Town10Display-Regular.woff') format('woff'),
    url('/fonts/Town10Display/Town10Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
