.award {
  position: relative;

  &-background {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    
    img {
      @include absolute($bottom: 0, $left: 0, $right: 0);
      @include img-cover();
      height: 100vh;
    }
  }

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;

    top: -120px;
    bottom: 0;
    width: 720px;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    z-index: 0;
  
    @include below($desktop) {
      opacity: .4;
      width: 320px;
    }
  
    @include below($tablet) {
      display: none;
    }
    
  }
  &::before {
    left: 0;
    right: auto;
    margin-right: auto;
    background: transparent;
    background-image: linear-gradient(-90deg, transparent, black);
  }
  &::after {
    right: 0;
    left: auto;
    margin-left: auto;
    background-image: transparent;
    background-image: linear-gradient(90deg, transparent, black);
  }
}
