.blurred {
  display: block;
  position: fixed;
  // position: sticky;
  // position: -webkit-sticky;
  top: 0;
  bottom: 0;
  width: 720px;
  height: 100%;
  height: 100vh;
  z-index: 0;
  user-select: none;
  pointer-events: none;

  @include below($desktop) {
    opacity: .4;
    width: 320px;
  }

  @include below($tablet) {
    display: none;
  }
  
  &.left {
    left: 0;
    right: auto;
    margin-right: auto;
    background: transparent;
    background-image: linear-gradient(-90deg, rgba(black, 0), black);
  }
  &.right {
    right: 0;
    left: auto;
    margin-left: auto;
    background-image: transparent;
    background-image: linear-gradient(90deg, rgba(black, 0), black);
  }
}