
.experience {
  position: relative;
  padding-top: 180px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  min-height: 100vh;
  box-sizing: border-box;

  .head-box {
    color: black;

    &.expand {
      max-width: 690px;
    }

    &.compact {
      max-width: 280px;
    }

    .head-title {
      font-weight: 700;
    }

    p {
      font-weight: 300;
    }

    p.lead {
      margin-bottom: 6px;
    }
  }
}