
.gallery {

  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  max-width: 1298px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  &-head {
    padding: 40px 0;
    color: white;
    font-family: 'Town 10 Display', 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
  }
  &-title {
    margin-bottom: 6px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 6px;
    @include below($laptop) {
      font-size: 40px;
    }
    @include below($tablet) {
      font-size: 30px;
      display: none;
    }
  }
  &-subtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    @include below($laptop) {
      font-size: 25px;
    }
  }
  &-content {
    position: relative;
    flex: 1;
    height: 100%;
    height: calc(100% - 168px - 110px);
    @include below($tablet) {
      height: calc(100% - 105px);
    }
  }
  &-swiper {
    height: 100%;
  }
  &-slide {
    position: relative;
    img {
      // @include img-contain();
      @include img-cover();
    }
  }

  &-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0;
    z-index: 100;

    @include below($tablet) {
      top: auto;
      bottom: -15px;
    }

    img {
      @include img-responsive();
      cursor: pointer;
    }

    .arrow-prev {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }
    .arrow-next {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-50%);
    }

    .arrow-prev,
    .arrow-next {
      @include below($tablet) {
        width: 20px;
        transform: none;
      }
    }
    
  }

  &-mini {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 5px;
    height: 110px;
    padding-top: 4px;
    padding-bottom: 20px;
    user-select: none;
    box-sizing: border-box;

    @include below($tablet) {
      .swiper-container {
        // display: none;
        height: 0;
      }
    }

    .mini-item {
      position: relative;
      overflow: hidden;
      width: 120px;
      height: 86px;

      img {
        @include img-cover();
      }

      &:after {
        display: block;
        @include cover();
        content: "";
        background: black;
        opacity: 0.8;
        transition: opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
      }

      // &.swiper-slide-active::after ,
      &:hover::after {
        opacity: 0;
      }
    }

  }


}