
.head-box {
  width: 100%;
  max-width: 410px;
  box-sizing: border-box;

  &.box-left {
    margin-left: 0;
    margin-right: auto;
  }
  &.box-right {
    margin-right: 0;
    margin-left: auto;
  }

  @include below($tablet) {
    text-align: center;
    &,
    &.box-right ,
    &.box-left {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.head-bordered {
  position: relative;
  padding-left: 25px;
  border-left: 5px solid transparent;

  &::before {
    display: none;
    content: "";
    @include absolute($top: 0, $left: -5px, $bottom: 0);
    width: 5px;
    transform: scaleY(0);
    transform-origin: center top;
    background-color: white;
    @include above($tablet + 1) {
      display: block;
    }
  }
  
  .animate &::before {
    transform: scaleY(1);
    transition: transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.head-info {
  width: 100%;
  max-width: 620px;

  @include below($tablet) {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .head-subtitle.lead {
    margin-bottom: 30px;
  }
  p.lead {
    max-width: 490px;
    margin-bottom: 22px;
    font-size: 20px;
    text-transform: uppercase;
    @include below($tablet) {
      max-width: none;
    }
  }
}

.head-title {
  margin-bottom: 26px;
  font-family: 'Town 10 Display', 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 6px;
  text-transform: uppercase;

  @include below($desktop) {
    font-size: 35px;
  }

  @include below($tablet) {
    font-size: 25px;
  }

  &.lead {
    margin-bottom: 0;
    font-size: 60px;
    letter-spacing: 8px;

    @include below($desktop) {
      font-size: 42px;
    }

    @include below($tablet) {
      font-size: 30px;
      text-align: center;
    }
  }
  &.xl {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1.1;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;

    @include below($desktop) {
      font-size: 28px;
    }

    @include below($tablet) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
}

.head-subtitle {
  margin-bottom: 16px;
  font-family: 'Town 10 Display', 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;

  @include below($desktop) {
    font-size: 33px;
  }

  @include below($tablet) {
    font-size: 24px;
  }

  &.lead {
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 0;

    @include below($desktop) {
      font-size: 18px;
    }

    @include below($tablet) {
      font-size: 13px;
      letter-spacing: 2px;
    }
  }
}

.head-description {
  p {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Town 10 Display', 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    @include below($desktop) {
      font-size: 12px;
    }
  }
  p.lead {
    font-size: 18px;
    text-transform: uppercase;
    @include below($desktop) {
      font-size: 13px;
    }
  }  
}