
.popup {
  // position: relative;
  @include fixed($top: 0, $left: 0, $right: 0, $bottom: 0);
  background: black;
  z-index: 100;
  overflow: auto;

  &-close {
    @include absolute($top: 60px, $right: 50px);
    display: block;
    width: 20px;
    height: 20px;
    line-height: 1;
    cursor: pointer;
    z-index: 10;
  }

  &-box {
    position: relative;
    z-index: 1;
  }
}