.sequence {

  position: relative;
  z-index: 0;

  canvas {
    position: fixed;
    left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    bottom: 0;
    transform: translate(-50%, 0);
    // width: 1920px;
    width: 1158px;
    max-height: 100vh;
  }
}