.solution {
  position: relative;

  &-decorate {
    position: fixed;
    top: 60vh;
    transform: translate(0, -50%);
    z-index: 1;

    @include below($tablet) {
      width: 80px;
    }

    img {
      @include img-fluid();
    }
  }

  &-box {
    position: relative;
  }
}