

.panel {
  position: relative;
  min-height: 120vh;
  // min-height: 90vh;
  box-sizing: border-box;
  z-index: 1;

  // @include mark();

  .head-box {
    flex: none;
  }

  &.compact {
    min-height: 40vh;
  }
  
}

