

.panel {
  position: relative;
  min-height: 120vh;
  // min-height: 90vh;
  box-sizing: border-box;
  z-index: 1;

  // @include mark();

  @include below($tablet) {
    // min-height: 80vh;
    min-height: 620px;
  }

  .head-box {
    flex: none;
  }

  &.compact {
    min-height: 40vh;
  }
}

